<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Yandex.RTB -->
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
</head>
<body>

    <button id="te">Test</button>
    
    <!-- Yandex.RTB R-A-5375473-1 -->
    <script>
        window.yaContextCb.push(()=>{
            Ya.Context.AdvManager.render({
                "blockId": "R-A-5375473-1",
                "type": "floorAd",
                "platform": "desktop"
            })
        })
    </script>

    <h1 style="text-align: center;">Кликер</h1>
    <p>&nbsp;</p>
    <ul>
    <li style="text-align: justify;"><span style="color: #00ff00;" data-darkreader-inline-color="">Пляж Веспучии - это одно из самых популярных мест отдыха в Рио-де-Жанейро, Бразилия. Этот пляж расположен в знаменитом районе Ипанема и простирается на протяжении 2,5 километров. Он известен своим кристально чистым морем, белым песком и живописными горами вокруг.</span></li>
    <li style="text-align: justify;"><span style="color: #00ff00;" data-darkreader-inline-color="">На пляже Веспучии всегда много народу, особенно в выходные дни и во время праздников. Здесь можно встретить как местных жителей, так и туристов со всего мира. Пляж предлагает множество развлечений для всех возрастов и интересов. Вы можете заняться пляжным волейболом, футболом, сёрфингом или просто наслаждаться купанием в море.</span></li>
    <li style="text-align: justify;"><span style="color: #00ff00;" data-darkreader-inline-color="">На пляже Веспучии также есть множество ресторанов, кафе и баров, где вы можете попробовать бразильскую кухню и насладиться коктейлями. Вечером на пляже часто проводятся концерты и различные мероприятия.</span></li>
    <li style="text-align: justify;"><span style="color: #00ff00;" data-darkreader-inline-color="">Одним из самых известных символов пляжа Веспучии является два скальных островка, которые можно увидеть на горизонте. Эти островки называются Два Ирманос (&laquo;Два брата&raquo;) и стали настоящей достопримечательностью Рио-де-Жанейро.</span></li>
    <li style="text-align: justify;"><span style="color: #00ff00;" data-darkreader-inline-color="">Пляж Веспучии - это место, где вы можете расслабиться, насладиться красивым видом и провести время с друзьями или семьей. Незабываемые впечатления гарантированы!</span></li>
    </ul>

</body>
</html>